body{
    display: flex ;
    flex-direction: column;
    /* justify-content: space-around; */
    background-color: #1b2349;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 ;
}
.card{
    align-items: center;
    width : 400px ;
    height: 500px;
    flex-direction: column;
    font-weight: bold ;
    text-align: center;
    color:white;
}
h1{
    margin: 40px  auto;
}
#counter{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 50px;
    width: 250px;
    height: 250px;
    margin: 30px auto;
    background-color: black;
    border-radius: 6px;
}
.three-options{
    display: flex;
    
    margin-top: 15px;
    justify-content: center;
}
.click{
    width: 30px ;
    height: 30px ;
    border: 2px solid white;
    border-radius: 4px ;
    background-color: #1b2349;
    padding: 5px;
    color: white;
    margin: 0 4px;
}

.all{
    display:flex;
}
.NewGame{
    margin: 15px auto;
    justify-content: center;
    width : 150px ;
    padding : 10px 15px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: #1b2349;
    color : white ; 
    text-align: center;
}
.container{
    display: flex;
    align-items: center ;
    justify-content: space-around;
}